PILOT_SPACE_ID=your_pilot_space_id
PILOT_ACCESS_TOKEN=your_pilot_access_token
PILOT_ENVIRONMENT=master

ROLLOUT_SPACE_ID=your_rollout_space_id
ROLLOUT_ACCESS_TOKEN=your_rollout_access_token
ROLLOUT_ENVIRONMENT=master
